@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  .sec-padding: 80;
}

body {
  word-break: keep-all;
  overflow-x: hidden;
  font-family: "Pretendard";
}
.b0b8c1 {
  color: #b0b8c1 !important;
}

.grey01 {
  color: #8b95a1;
}

.grey02 {
  color: #d1d6db;
}

.w-50 {
  width: 50%;
}

.ml-40 {
  margin-left: 40px;
}

img {
  width: 100%;
}

.p-container {
  width: 100%;
  height: 100%;
  margin: auto;
}
.p-container-default {
  max-width: 1140px;
}

.p-container__inner {
  display: flex;
}

.p-navbar {
  display: flex;
  width: 1000px;
  height: 60px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  .p-navbar_content {
    .p-navbar__menu {
      display: flex;
      gap: 4px;
      .p-navbar__item {
        font-size: 15px;
        padding: 0 8px;
        a {
          padding: 12px 10px;
          font-size: 15px;
          line-height: 20px;
          color: #4e5968;
          text-decoration: none;

          &:hover {
            color: #0056b3;
          }
        }
      }
    }
  }
  .language {
    display: flex;
    align-items: center;
    list-style: none;
    .language_item {
      padding: 12px 10px;
      a {
        padding: 12px 10px;
        font-size: 15px;
        line-height: 20px;
        color: #4e5968;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

.content {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1s;
  &.show {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.content-wrapper {
  position: relative;
}

.content-tags {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  color: #3182f6;
  margin-bottom: 30px;
}

.content-title {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.4;
  color: #191f28;
}

.object {
  width: 600px;
  height: 936px;
  position: absolute;
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 1s ease-out;
  &.show {
    opacity: 1;
    transform: translate(0, 0px);
  }

  .object-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 57%;
    height: auto;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    border-radius: 22px;
  }
  .object-bg {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.info {
  font-size: 23px;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(51, 61, 75);
  opacity: 0;
  transition: all 1s;
  transform: translate(0, 100px);
  &.show {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.infobox {
  transform: translate(0, 100px);
  opacity: 0;
  transition: all 1s ease-out;
  &.show {
    opacity: 1;
    transform: translate(0, 0px);
  }
}

.infobox-h2 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: rgb(49, 130, 246);
  display: flex;
  svg {
    width: 24px;
    margin-right: 5px;
    path {
      fill: rgb(0, 127, 247);
      &:last-child {
        fill: rgb(255, 255, 255);
      }
    }
  }
}

.infobox-h3 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  color: rgb(51, 61, 75);
}

.infobox-p {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(107, 118, 132);
}

@media (max-width: 500px) {
  .p-container {
    width: 93%;
  }
  .object .object-img {
    width: 226px;
    left: 47%;
  }

  .object .object-bg {
    width: 386px;
    height: auto;
    transform: translate(92px, 167px);
  }

  .content-tags {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .content-title {
    font-size: 28px;
    margin-bottom: 60px;
  }

  .info {
    font-size: 17px;
    text-align: left;
  }

  .section03 .infobox {
    flex-direction: column;
    align-items: flex-start;
  }
  .section03 .infobox:nth-of-type(2) {
    flex-direction: column-reverse;
  }

  .infobox-h2 svg {
    width: 16px;
  }

  .infobox-h2 {
    font-size: 15px;
  }
  .infobox-h3 {
    font-size: 24px;
  }
  .infobox-p {
    font-size: 15px;
  }

  .column-reverse {
    flex-direction: column-reverse !important;
  }
}
